{% extends "base_tables.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Cast</th>
        <th>Genres</th>
        <th> Watched? </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      var table = $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        columns: [
          {data: 'title'},
          {data: 'year'},
          {data: 'cast', orderable: false},
          {data: 'genres', orderable: false},
          {data: null, title: 'Watched?', wrap: true, "render": function (item){ 
            return '<div class="btn-group"> <button type="button" onclick="href = {{ url_for('main.background_process_test') }}" class="btn btn-warning">Watched!</button></div>' 
            } 
          },
        ],
      });
    });
  </script>
{% endblock %}
